{{- $server := and (eq .chezmoi.os "linux") (not (env "DISPLAY")) (not (env "WAYLAND_DISPLAY")) -}}
{{- $VM := false -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- $nixVM := output "systemd-detect-virt" | trim -}}
  {{- if and (ne $nixVM "none") (ne $nixVM "") -}}
    {{- $VM = true -}}
  {{- end -}}
{{- else if eq .chezmoi.os "windows" -}}
  {{- $winVM := output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "Get-CimInstance Win32_ComputerSystem | Select-Object -ExpandProperty Model" | trim -}}
  {{- if regexMatch "(?i)(virtualbox|vmware|kvm|qemu|virtual machine|hyper-v)" $winVM -}}
    {{- $VM = true -}}
  {{- end -}}
{{- end -}}

encryption = "age"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age19jsjgu29gk245xtxslc62vzygjuafazp2h6gt6k07a6hgchl5ecqy809sg"

[git]
autoCommit = true
autoPush = true

[keepassxc]
database = "~/Documents/Security/ozymandias.kdbx"

[data]
server = {{ $server | toToml }}
vm = {{ $VM | toToml }}
