{{- $server := and (eq .chezmoi.os "linux") (not (env "DISPLAY")) (not (env "WAYLAND_DISPLAY")) -}}
{{- $VM := false -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- $macVM := output "sysctl" "-n" "hw.model" | trim -}}
  {{- if or (contains "Virtual" $macVM) (contains "VMware" $macVM) (contains "QEMU" $macVM) -}}
    {{- $VM = true -}}
  {{- end -}}
{{- else if eq .chezmoi.os "linux" -}}
  {{- $nixVM := output "systemd-detect-virt" | trim -}}
  {{- if and (ne $nixVM "none") (ne $nixVM "") -}}
    {{- $VM = true -}}
  {{- end -}}
{{- else if eq .chezmoi.os "windows" -}}
  {{- $winVM := output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "Get-CimInstance Win32_ComputerSystem | Select-Object -ExpandProperty Model" | trim -}}
  {{- if regexMatch "(?i)(virtualbox|vmware|kvm|qemu|virtual machine|hyper-v)" $winVM -}}
    {{- $VM = true -}}
  {{- end -}}
{{- end -}}

encryption: age

age:
  identity: ~/.config/chezmoi/key.txt
  recipient: age19jsjgu29gk245xtxslc62vzygjuafazp2h6gt6k07a6hgchl5ecqy809sg

git:
  autoCommit: true
  autoPush: true

keepassxc:
  database: ~/Documents/Security/ozymandias.kdbx

edit:
  command: codium
  args:
    - --wait

diff:
  command: codium
  args:
    - --wait
    - --diff

merge:
  command: "bash"
  args:
    - "-c"
    - "cp {{ `{{ .Target | quote }} {{ printf \"%s.base\" .Target | quote }} && codium --new-window --wait --merge {{ .Destination | quote }} {{ .Target | quote }} {{ printf \"%s.base\" .Target | quote }} {{ .Source | quote }}` }}"

data:
  server: {{ $server | toYaml }}
  vm: {{ $VM | toYaml }}

  logseq:
    - name: bullet.
      repo: OzymandiasTheGreat/bullet.-graph

    - name: notes
      repo: OzymandiasTheGreat/notes

    - name: ligo
      repo: OzymandiasTheGreat/ligo-graph

    - name: void
      repo: OzymandiasTheGreat/void-graph
