{{- $server := and (eq .chezmoi.os "linux") (not (env "DISPLAY")) (not (env "WAYLAND_DISPLAY")) -}}
{{- $VM := false -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- $macVM := output "sysctl" "-n" "hw.model" | trim -}}
  {{- if or (contains "Virtual" $macVM) (contains "VMware" $macVM) (contains "QEMU" $macVM) -}}
    {{- $VM = true -}}
  {{- end -}}
{{- else if eq .chezmoi.os "linux" -}}
  {{- $nixVM := output "systemd-detect-virt" | trim -}}
  {{- if and (ne $nixVM "none") (ne $nixVM "") -}}
    {{- $VM = true -}}
  {{- end -}}
{{- else if eq .chezmoi.os "windows" -}}
  {{- $winVM := output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "Get-CimInstance Win32_ComputerSystem | Select-Object -ExpandProperty Model" | trim -}}
  {{- if regexMatch "(?i)(virtualbox|vmware|kvm|qemu|virtual machine|hyper-v)" $winVM -}}
    {{- $VM = true -}}
  {{- end -}}
{{- end -}}

encryption: age

age:
  identity: ~/.config/chezmoi/key.txt
  recipient: age1cgy53l7kqdpnpaj6zgjtmrwtdpxz45hg3qf9qfmf85cz66as2cuszskkla

git:
  autoAdd: true
  autoCommit: true
  autoPush: true

keepassxc:
  database: ~/Documents/Security/ozymandias.kdbx
  mode: builtin

{{- if not $server }}
edit:
  apply: true
  command: codium
  args:
    - --wait

diff:
  command: codium
  args:
    - --wait
    - --diff

merge:
  command: chezmoi-merge
  args:
    - "{{ `{{ .Destination }}` }}"
    - "{{ `{{ .Source }}` }}"
    - "{{ `{{ .Target }}` }}"
{{- end }}

hooks:
  read-source-state:
    pre:
{{- if ne .chezmoi.os "windows" }}
      command: .local/share/chezmoi/.hooks/pre-read-source-state.sh
{{- else }}
      script: .local/share/chezmoi/.hooks/pre-read-source-state.ps1
{{- end }}
  apply:
    post:
{{- if ne .chezmoi.os "windows" }}
      command: .local/share/chezmoi/.hooks/post-apply.sh
{{- else }}
      script: .local/share/chezmoi/.hooks/post-apply.ps1
{{- end }}

data:
  hostname: {{ promptStringOnce . "hostname" "Enter the hostname" | toYaml }}
  server: {{ $server | toYaml }}
  vm: {{ $VM | toYaml }}
  wallpapers: {{ joinPath .chezmoi.homeDir "Pictures" "Wallpapers" }}
