[".zprezto"]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/sorin-ionescu/prezto.git"
clone.args = ["--recursive"]

[".zprezto/contrib/bgnotify"]
type = "git-repo"
refreshPeriod = "168h"
url = "https://github.com/t413/zsh-background-notify.git"
