alias         btm="btm -b"
alias         cls="clear"
alias          ll="eza -lagh --icons --group-directories-first --no-permissions --octal-permissions"

dir() {
	mkdir -p "$1"
	cd "$1"
}

testclib() {
	cmake -S . -B build/
	cmake --build build/
	cd build/test/
	ctest --verbose --build-config Debug
	cd -
}

adbc() {
	CHESHIRE="192.168.0.138"
	{
		read
		while IFS=$'\t' read -r whatever deviceID address
		do
		        IFS=: read -r ip port <<<"$address"
		        if [ "$ip" = "$CHESHIRE" ]; then
		        	status=$(adb connect "$address")
		        	if [[ $status == connected*]]; then
		        		echo "$status"
		        	fi
		        fi
		done
	} <<< $(adb mdns services)
}
