{{ if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

export NVM_DIR="$HOME/.nvm"
{{ if eq .chezmoi.os "darwin" }}
[ -s "/opt/homebrew/opt/nvm/nvm.sh" ] && builtin source "/opt/homebrew/opt/nvm/nvm.sh"
{{ else }}
echo "WTF"
[ -s "/home/linuxbrew/.linuxbrew/opt/nvm/nvm.sh" ] && builtin source "/home/linuxbrew/.linuxbrew/opt/nvm/nvm.sh"
{{ end }}

builtin source "$HOME/.cargo/env"
