export PATH=$HOME/bin:$HOME/.local/bin:/usr/local/bin:$PATH

eval "$(starship init bash)"

export LANG=en_US.UTF-8
export EDITOR="micro"
{{ if eq .chezmoi.os "darwin" }}
export ANDROID_HOME=$HOME/Library/Android/sdk
{{ else if eq .chezmoi.os "linux" }}
export ANDROID_HOME=$HOME/Android/Sdk
{{ end }}
export ANDROID_NDK_HOME=$ANDROID_HOME/ndk/28.2.13676358
export PATH=$PATH:$ANDROID_HOME/emulator
export PATH=$PATH:$ANDROID_HOME/platform-tools

source $HOME/.alias
