export NVM_DIR="$HOME/.nvm"

{{- if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"

[ -s "$(brew --prefix)/opt/nvm/nvm.sh" ] && builtin source "$(brew --prefix)/opt/nvm/nvm.sh"
{{- else }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

[ -s "$(brew --prefix)/opt/nvm/nvm.sh" ] && builtin source "$(brew --prefix)/opt/nvm/nvm.sh"
export nvm
{{- end }}
