alias         btm="btm -b"
alias         cls="clear"
alias          ll="eza -lagh --icons --group-directories-first --no-permissions --octal-permissions"
alias         adb=ADB_MDNS_OPENSCREEN=1 adb

dir() {
	mkdir -p "$1"
	cd "$1"
}
