[user]
name = Tomas Ravinskas
email = tomas@tomasrav.me
signingkey = ~/.ssh/sign_ed25519.pub

[gpg]
format = ssh

[core]
editor = micro
{{- if eq .chezmoi.os "windows" }}
longpaths = true
{{- end }}

[init]
defaultBranch = main

[commit]
gpgSign = true

[tag]
gpgSign = true

[pull]
rebase = off
