[user]
name = Tomas Ravinskas
email = tomas@tomasrav.me
signingkey = 1AB95841DA714E0CCC8452B29424DCD98F49C581

[core]
editor = micro
{{- if eq .chezmoi.os "windows" }}
longpaths = true
{{- end }}

[init]
defaultBranch = main

[commit]
gpgSign = true

[pull]
rebase = off
