[
  {
    "key": "ctrl+e",
    "command": "editor.action.commentLine",
    "when": "editorTextFocus && !editorReadonly"
  },
  {
    "key": "ctrl+d",
    "command": "editor.action.duplicateSelection"
  }
]
