#!/bin/bash

set -euo pipefail

{{- $brew := includeTemplate "brew.yml.tmpl" . | fromYaml }}

eval "$(/opt/homebrew/bin/brew shellenv)"
brew bundle --file=/dev/stdin <<EOF
{{ range ($brew.taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brew.formulae | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($brew.casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range $brew.mas -}}
mas "{{ .name }}", id: {{ .id }}
{{ end -}}
EOF
