{{ if not .vm -}}
#!/bin/bash

set -euo pipefail

{{- $pkg := includeTemplate "pkg-darwin.yml.tmpl" . | fromYaml }}
{{- $proceed := false }}

main() {
  {{ range $pkg -}}
  {{ if .update -}}
    {{ $proceed = true -}}
  {{ end -}}
  manual_install "{{ .package }}" "{{ .installed }}" "{{ .latest }}" {{ .update }} "{{ .uri }}"
  {{ end -}}
}

manual_install() {
{{ if $proceed -}}
  package="$1" installed="$2" latest="$3" update=$4 uri="$5"

  if [[ -z "$uri" ]]; then
    action="$([[ -n "$installed" ]] && echo "update" || echo "install")"
    >&2 echo "Failed to $action package ${package}@${installed}\nCould not determine download URL"
    return 0
  fi

  if [[ -n "$installed" ]]; then
    echo "Found package ${package}@${installed}"

    if $update; then
      echo "Updating to ${package}@${latest} from $uri"
    else
      echo "$package is already latest version"
      return 0
    fi
  else
    echo "Installing package ${package}@${latest} from $uri"
  fi

  tmp="$(mktemp -d)"
  image="$(basename $uri)"

  curl -L --output "$tmp/$image" "$uri"

  trap 'diskutil umount "$volume"; rm -rf "$tmp"' EXIT

  volume="$(echo qy | diskutil image attach "$tmp/$image" | awk -F'\t' '/\/Volumes/ {print $NF}')"

  if [ -e "$volume"/*.app ]; then
    {{ template "askpass.tmpl" (list .hostname "SUDO") }} sudo -A cp -rf "$volume"/*.app /Applications
  elif [ -e "$volume"/*.pkg ]; then
    package=`realpath "$volume"/*.pkg`
    {{ template "askpass.tmpl" (list .hostname "SUDO") }} sudo -A installer -package "$package" -target /
  else
    echo "Failed to install $image from $uri"
  fi
{{ else -}}
  echo ""
{{ end -}}
}

main
{{ end -}}
