{{ if ne .hostname (output "hostname" | trim) -}}
#!/bin/bash

set -euo pipefail

# FQDN
{{ template "askpass.tmpl" (list .hostname "SUDO") }} sudo -A scutil --set HostName '{{ .hostname }}'
# Bonjour
{{ template "askpass.tmpl" (list .hostname "SUDO") }} sudo -A scutil --set LocalHostName '{{ .hostname }}'
# Finder
{{ template "askpass.tmpl" (list .hostname "SUDO") }} sudo -A scutil --set ComputerName '{{ .hostname }}'
# Flush DNS cache
dscacheutil -flushcache
{{ end -}}
