#!/bin/bash

set -euo pipefail

{{- $brew := includeTemplate "brew.yml.tmpl" . | fromYaml }}

{{ template "askpass.tmpl" (list .hostname "SUDO") }} NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
eval "$(/opt/homebrew/bin/brew shellenv)"brew bundle --file=/dev/stdin <<EOF
{{ range ($brew.taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brew.formulae | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($brew.casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

{{ range $brew.mas -}}
{{ template "askpass.tmpl" (list $.hostname "SUDO") }} sudo -A mas install {{ .id }}
{{ end -}}
