#!/bin/bash
install_dmg() {
  tmp="$(mktemp -d)"
  image="$(basename $1)"

  curl -L --output "$tmp/$image" "$1"

  volume=`yes qy | diskutil image attach "$tmp/$image" | awk -F'\t' '/\/Volumes/ {print $NF}'`

  if [ -e "$volume"/*.app ]; then
    {{ template "sudo.tmpl" . }} cp -rf "$volume"/*.app /Applications
  elif [ -e "$volume"/*.pkg ]; then
    package=`realpath "$volume"/*.pkg`
    {{ template "sudo.tmpl" . }} installer -package "$package" -target /
  fi

  diskutil umount "$volume"
  rm -rf "$tmp"
}

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
eval "$(/opt/homebrew/bin/brew shellenv)"

brew tap wix/brew
brew trust wix/brew

{{ template "unix-formulae.tmpl" . }}

brew install --yes --cask \
  altserver \
  android-studio \
  calibre \
  crystalfetch \
  discord \
  domzilla-caffeine \
  firefox \
  font-fira-code \
  font-fira-code-nerd-font \
  font-podkova \
  font-righteous \
  gimp \
  inkscape \
  keepassxc \
  logseq-og \
  nextcloud \
  openmtp \
  proton-mail-bridge \
  protonvpn \
  spotify \
  stats \
  syntax-highlight \
  transmission \
  utm \
  vlc \
  vscodium \
  wezterm
  
install_dmg '{{ gitHubLatestReleaseAssetURL "sannidhyaroy/Soduto" "Soduto*.dmg" }}'
