#!/bin/bash

set -eu

{{- $pkg := includeTemplate "packages.yml.tmpl" . | fromYaml }}

gh_install() {
  package="$1"
  installed="$2"
  latest="$3"
  update=$4
  uri="$5"

  if ! [ $uri ]; then
    action="$([ $installed ] && echo "update" || echo "install")"
    >&2 echo "Failed to $action package ${package}@${installed}\nCould not determine download URL"
    return 0
  fi

  if [ $installed ]; then
    echo "Found package ${package}@${installed}"

    if $update; then
      echo "Updating to ${package}@${latest} from $uri"
    else
      echo "$package is already latest version"
      return 0
    fi
  else
    echo "Installing package ${package}@${latest} from $uri"
  fi

  tmp="$(mktemp -d)"
  image="$(basename $uri)"

  curl -L --output "$tmp/$image" "$uri"

  volume="$(yes qy | diskutil image attach "$tmp/$image" | awk -F'\t' '/\/Volumes/ {print $NF}')"

  if [ -e "$volume"/*.app ]; then
    {{ template "sudo.tmpl" . }} cp -rf "$volume"/*.app /Applications
  elif [ -e "$volume"/*.pkg ]; then
    package=`realpath "$volume"/*.pkg`
    {{ template "sudo.tmpl" . }} installer -package "$package" -target /
  else
    echo "Failed to install $image from $1"
  fi

  diskutil umount "$volume"
  rm -rf "$tmp"
}

brew bundle --file=/dev/stdin <<EOF
{{ range ($pkg.taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($pkg.formulae | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($pkg.casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
{{ range $pkg.mas -}}
mas "{{ .name }}", id: {{ .id }}
{{ end -}}
EOF

{{ if not .vm -}}
  {{ range $pkg.github -}}
  gh_install "{{ .package }}" "{{ .installed }}" "{{ .latest }}" {{ .update }} "{{ .uri }}"
  {{ end -}}
{{ end -}}

source "$(brew --prefix)/opt/nvm/nvm.sh"
nvm install --lts --latest-npm
{{ range $pkg.npm -}}
npm install --global "{{ .package }}@{{ .version }}"
{{ end -}}

{{ range ($pkg.codium | sortAlpha | uniq) -}}
codium --force --install-extension "{{ . }}"
{{ end -}}
