#!/bin/bash

set -eu

value="$(hostname)"

if [ value = '{{ .hostname }}' ]; then
  echo "Hostname is {{ .hostname }}"
else
  # FQDN
  sudo scutil --set HostName "{{ .hostname }}.local"
  # Bonjour
  sudo scutil --set LocalHostName "{{ .hostname }}"
  # Finder
  sudo scutil --set ComputerName "{{ .hostname }}"
  # Flush DNS cache
  dscacheutil -flushcache
fi
