{{ $ext := includeTemplate "gnome.yml.tmpl" . | fromYaml -}}
#!/bin/bash

set -euo pipefail

pipx install gnome-extensions-cli --system-site-packages
~/.local/bin/gext install {{ $ext | quoteList | join " " }}
