{{ if not .server -}}
{{ $pkg := includeTemplate "flatpak.yml.tmpl" . | fromYaml -}}
#!/bin/bash

set -euo pipefail

flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
flatpak install flathub {{ $pkg | quoteList | join " " }}
{{ end -}}
