{{ if not .server -}}
#!/bin/bash
# {{ include "dot_face" | sha256sum }}
busctl call org.freedesktop.Accounts "/org/freedesktop/Accounts/User$(id -u)" org.freedesktop.Accounts.User SetIconFile s {{ joinPath .chezmoi.sourceDir "dot_face" }}
{{ end -}}
