{{ if not .server -}}
#!/bin/bash
{{ template "askpass.tmpl" (list .hostname "SUDO") }} sudo -A cp -f {{ joinPath .chezmoi.sourceDir "avatar-linux.png" }} /var/lib/AccountsService/icons/{{ .chezmoi.username }}
{{ end -}}
