#!/bin/bash

set -euo pipefail

eval "$(/opt/homebrew/bin/brew shellenv)"

{{- $ext := includeTemplate "codium.yml.tmpl" . | fromYaml }}

{{ $extensions := "" -}}
{{ range ($ext | sortAlpha | uniq) -}}
  {{ $extensions = printf "%s --force --install-extension %s" $extensions . -}}
{{ end -}}
codium {{ $extensions }}
