{{ if and (not .server) (not .vm) -}}
#!/bin/bash

set -euo pipefail

{{ $logseq := includeTemplate "logseq.yml.tmpl" . | fromYaml -}}
{{ $notes := joinPath .chezmoi.homeDir "Notes" -}}
{{ $proceed := false -}}
{{ range $logseq -}}
{{ if not (stat (joinPath $notes .name)) -}}
  {{ $proceed = true -}}
{{ end -}}
{{ end -}}

{{ if $proceed -}}
eval "$(ssh-agent -s)" > /dev/null
trap 'ssh-agent -k > /dev/null' EXIT

{{ template "askpass.tmpl" (list .hostname "SSH") }} SSH_ASKPASS_REQUIRE=force ssh-add - &>/dev/null <<EOF
{{ keepassxcAttachment (includeTemplate "entry.tmpl" .hostname) "id_ed25519" | trim }}
EOF

export GIT_SSH_COMMAND='ssh -o BatchMode=yes'
mkdir -p "{{ $notes }}"
pushd "{{ $notes }}" > /dev/null
{{ range $logseq -}}
{{ if not (stat (joinPath $notes .name)) -}}
{{ $gitDir := joinPath $.chezmoi.homeDir ".logseq" "git" (printf "%s_Notes_%s" ($.chezmoi.homeDir | replaceAllRegex "/" "_") .name) -}}
if git clone git@github.com:{{ .repo }}.git "{{ .name }}" &>/dev/null; then
  ln -s "{{ joinPath $notes ".hooks" "post-commit" }}" "{{ joinPath "." .name ".git" "hooks" }}"
  mkdir -p "{{ $gitDir }}"
  mv "{{ joinPath "." .name ".git" }}" "{{ $gitDir }}"
  echo "gitdir: {{ $gitDir }}/.git" > "{{ joinPath "." .name ".git" }}"
fi
{{ end -}}
{{ end -}}
popd > /dev/null
{{ end -}}
{{ end -}}
