#!/bin/bash

set -euo pipefail

{{ $notes := joinPath .chezmoi.homeDir "Notes" -}}
GIT_SSH_COMMAND="ssh -i /dev/stdin"
mkdir -p "{{ $notes }}"
pushd "{{ $notes }}" > /dev/null
{{ range .logseq -}}
{{ $gitDir := joinPath $.chezmoi.homeDir ".logseq" "git" (printf "%s_Notes_%s" ($.chezmoi.homeDir | replaceAllRegex "/" "_") .name) -}}
{{ if not (stat (joinPath $notes .name)) -}}
{{/* Using redqueen's ssh key because local machine's keys have not been authorized yet */ -}}
if git clone git@github.com:{{ .repo }}.git "{{ .name }}" <<< "{{ keepassxcAttachment "redqueen" "id_ed25519" }}"; then # &>/dev/null; then
  ln -s "{{ joinPath $notes ".hooks" "post-commit" }}" "{{ joinPath "." .name ".git" "hooks" }}"
  mkdir -p "{{ $gitDir }}"
  mv "{{ joinPath "." .name ".git" }}" "{{ $gitDir }}"
  echo "gitdir: {{ $gitDir }}/.git" > "{{ joinPath "." .name ".git" }}"
fi
{{ end -}}
{{ end -}}
popd > /dev/null
