#!/bin/sh

set -euo pipefail

if [ ! -f "${HOME}/.config/chezmoi/key.txt" ]; then
	mkdir -p "${HOME}/.config/chezmoi"
	echo "{{ (keepassxc (includeTemplate "entry.tmpl" "chezmoi")).Password }}" | {{ .chezmoi.executable }} age decrypt --no-tty --output "${HOME}/.config/chezmoi/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
	chmod 0600 "${HOME}/.config/chezmoi/key.txt"
fi
