- build-essential
- curl
- git
- unzip
- zsh
{{- if not .server }}
- codium
- firefox
- flatpak
- gnome-software-plugin-flatpak
- gnome-sushi
- gnome-tweaks
- keepassxc-full
- numix-icon-theme-circle
- pipx
{{- end }}
