{{- if and (eq .chezmoi.os "darwin") (not .vm) }}
taps:
  - wix/brew
{{- else }}
taps: []
{{- end }}

formulae:
{{- if eq .chezmoi.os "darwin" }}
{{- if not .vm }}
  - applesimutils
  - cliclick
  - cocoapods
  - ios-deploy
  - mas
  - ruby
  - xcodegen
{{- end }}
  - dockutil
{{- end }}
{{- if not .server }}
{{- if not .vm }}
  - llama.cpp
  - openjdk@21
{{- end }}
  - gh
  - git-filter-repo
  - git-gui
  - hf
  - hyperfine
  - nvm
  - python@3.14
  - rustup
  - tmux
  - watchman
  - woff2
  - xmlstarlet
{{- end }}
  - age
  - bottom
  - chezmoi
  - duf
  - dust
  - eza
  - fd
  - micro
  - rclone
  - starship
  - zsh-autopair
  - zsh-completions

casks:
{{- if not .vm }}
  - altserver
  - android-studio
  - calibre
  - crystalfetch
  - discord
  - gimp
  - inkscape
  - logseq-og
  - nextcloud
  - openmtp
  - proton-mail-bridge
  - protonvpn
  - spotify
  - transmission
  - utm
  - vlc
  - wezterm
{{- end }}
  - domzilla-caffeine
  - firefox
  - keepassxc
  - stats
  - syntax-highlight
  - vscodium

mas:
  - name: Xcode
    id: 497799835
    bundle: com.apple.dt.Xcode
