{{- if not .vm }}
- "jeanp413.open-remote-ssh"
{{- end }}
{{- if not (and (eq .chezmoi.os "windows") (eq .chezmoi.arch .arm64)) }}
- "vadimcn.vscode-lldb"
{{- end }}
- "akamud.vscode-theme-onedark"
- "anthropic.claude-code"
- "donjayamanne.githistory"
- "editorconfig.editorconfig"
- "esbenp.prettier-vscode"
- "expo.vscode-expo-tools"
- "llvm-vs-code-extensions.vscode-clangd"
- "openai.chatgpt"
- "redhat.vscode-xml"
- "redhat.vscode-yaml"
- "rust-lang.rust-analyzer"
- "streetsidesoftware.code-spell-checker"
- "streetsidesoftware.code-spell-checker-lithuanian"
- "tauri-apps.tauri-vscode"
- "tombi-toml.tombi"
- "twxs.cmake"
