{{- if not .vm }}
- com.google.AndroidStudio
- com.calibre_ebook.calibre
- com.discordapp.Discord
- org.gimp.GIMP
- org.inkscape.Inkscape
- com.logseq.Logseq
- com.nextcloud.desktopclient.nextcloud
- ch.protonmail.protonmail-bridge
# - me.proton.Mail
- com.spotify.Client
- com.transmissionbt.Transmission
- org.videolan.VLC
{{- end }}
- com.mattjakeman.ExtensionManager
