[General]
ConfigVersion=2
DropToBackgroundOnCopy=true
FaviconDownloadTimeout=30
HideWindowOnCopy=true
MinimizeOnCopy=false
NumberOfRememberedLastDatabases=3
UseAtomicSaves=false

[Browser]
Enabled=true
SearchInAllDatabases=true

[GUI]
ApplicationTheme=auto
CheckForUpdates=false
HidePreviewPanel=true
MinimizeOnClose=true
MinimizeOnStartup=true
MinimizeToTray=true
MonospaceNotes=true
ShowExpiredEntriesOnDatabaseUnlock=false
ShowTrayIcon=true
TrayIconAppearance=monochrome{{ if eq .chezmoi.os "linux" }}-light{{ end }}

[PasswordGenerator]
SpecialChars=true
Type=1
WordCase=2
WordCount=6

[SSHAgent]
Enabled=true

[Security]
ClearClipboardTimeout=30
EnableCopyOnDoubleClick=true
IconDownloadFallback=true
PasswordsHidden=false
