{{- define "darwin-github-release" -}}
  {{- $plist := printf "/Applications/%s.app/Contents/Info.plist" .package -}}
  {{- $release := (index (gitHubReleases (printf "%s/%s" .vendor .package)) 0).TagName -}}
  {{- $arch := "arm64" -}}
  {{- if eq .arch "amd64" -}}
    {{- $arch = "x86_64" -}}
  {{- end -}}
  {{- $version := output "bash" "-c" (printf "plutil -extract CFBundleShortVersionString raw -expect string -n %s || '0.0.0'" $plist) -}}
  {{- $uri := gitHubReleaseAssetURL (printf "%s/%s" .vendor .package) $release (printf "%s*%s*dmg" .package $arch) -}}
  {{- if not $uri -}}
    {{- $uri = gitHubReleaseAssetURL (printf "%s/%s" .vendor .package) $release (printf "%s*dmg" .package) -}}
  {{- end }}
  - package: {{ .package }}
    installed: {{ $version }}
    latest: {{ $release}}
    update: {{ semverCompare (printf ">=%s" $version) $release }}
    uri: {{ $uri | quote }}
{{- end }}

taps:
{{- if and (eq .chezmoi.os "darwin") (not .vm) }}
  - wix/brew
{{- else }}
 []
{{- end }}

formulae:
{{- if and (eq .chezmoi.os "darwin") (not .vm) }}
  - applesimutils
  - cliclick
  - cocoapods
  - ios-deploy
  - ruby
  - xcodegen
{{- end }}
{{- if not .server }}
  - gh
  - git-filter-repo
  - git-gui
  - hf
  - hyperfine
  - llama.cpp
  - nvm
  - openjdk@21
  - python@3.14
  - rustup
  - tmux
  - watchman
  - woff2
  - xmlstarlet
{{- end }}
  - bottom
  - duf
  - dust
  - eza
  - fd
  - micro
  - rclone
  - starship
  - zsh-completions

casks:
{{- if not .vm }}
  - altserver
  - android-studio
  - calibre
  - crystalfetch
  - discord
  - gimp
  - inkscape
  - logseq-og
  - nextcloud
  - openmtp
  - proton-mail-bridge
  - spotify
  - transmission
  - utm
  - vlc
{{- end }}
  - domzilla-caffeine
  - firefox
  - protonvpn
  - stats
  - syntax-highlight
  - vscodium
  - wezterm

github:
{{- if and (eq .chezmoi.os "darwin") (not .vm) }}
{{ template "darwin-github-release" (dict "vendor" "sannidhyaroy" "package" "Soduto" "arch" .chezmoi.arch) }}
{{- else }}
 []
{{- end }}

mas:
  - name: Xcode
    id: 497799835
    bundle: com.apple.dt.Xcode

npm:
  - package: bare
    version: latest

  - package: bare-make
    version: latest

codium:
{{- if not .vm }}
  - "jeanp413.open-remote-ssh"
{{- end }}
{{- if not (and (eq .chezmoi.os "windows") (eq .chezmoi.arch .arm64)) }}
  - "vadimcn.vscode-lldb"
{{- end }}
  - "akamud.vscode-theme-onedark"
  - "anthropic.claude-code"
  - "donjayamanne.githistory"
  - "editorconfig.editorconfig"
  - "esbenp.prettier-vscode"
  - "expo.vscode-expo-tools"
  - "llvm-vs-code-extensions.vscode-clangd"
  - "openai.chatgpt"
  - "redhat.vscode-xml"
  - "redhat.vscode-yaml"
  - "rust-lang.rust-analyzer"
  - "streetsidesoftware.code-spell-checker"
  - "streetsidesoftware.code-spell-checker-lithuanian"
  - "tauri-apps.tauri-vscode"
  - "tombi-toml.tombi"
  - "twxs.cmake"
