{{- define "package" -}}
  {{- $release := (index (gitHubReleases .repo) 0).TagName -}}
  {{- $arch := "arm64" -}}
  {{- if eq .arch "amd64" -}}
    {{- $arch = "x86_64" -}}
  {{- end -}}
  {{- $version := "" -}}
  {{- $plist := printf "/Applications/%s.app/Contents/Info.plist" .package -}}
  {{- if stat $plist -}}
    {{- $version = output "bash" "-c" (printf "plutil -extract CFBundleShortVersionString raw -expect string -n %s" $plist) -}}
  {{- end -}}
  {{- $uri := gitHubReleaseAssetURL .repo $release (printf "%s*%s*dmg" .package $arch) -}}
  {{- if not $uri -}}
    {{- $uri = gitHubReleaseAssetURL .repo $release (printf "%s*dmg" .package) -}}
  {{- end }}
- package: {{ .package }}
  installed: {{ $version | quote }}
  latest: {{ $release}}
  update: {{ or (not $version) (semverCompare (printf ">%s" $version) $release) }}
  uri: {{ $uri | quote }}
{{- end }}

{{ template "package" (dict "repo" "sannidhyaroy/Soduto" "package" "Soduto" "arch" .chezmoi.arch) }}
